baseURL = "https://blog.androchen.tw"
title = "ProgramMur - 程序猿碎念"
theme = "beautifulhugo"

SectionPagesMenu = "main"
Paginate = 10 # this is set low for demonstrating with dummy content. Set to a higher number

metaDataFormat = "yaml"
# pygmentsStyle = "trac"
# pygmentsUseClassic = true
# pygmentsUseClasses = true
# pygmentsCodeFences = true
# pygmentsCodefencesGuessSyntax = true
#pygmentOptions = "linenos=inline"
disqusShortname = "androchenblog"
googleAnalytics = "G-PN5YM4PWN6"
enableRobotsTXT = true
enableEmoji = true
enableGitInfo = true

# Multilingual Mode
# Note: 這一部份要放上面 才是 global. 
# 放在任何 [ooxx] 的後面, 就變成 local 就不會生效了
defaultContentLanguage = "zh-tw"
defaultContentLanguageInSubdir = false
hasCJKLanguage = true
summaryLength = 70

[languages]
  [languages.zh-tw]
    languageCode  = "zh-tw"
    languageName = "繁體中文"
    # contentDir = "content/zh-tw"
    hasCJKLanguage = true
    weight = 1
    title = "ProgramMur - 程序猿碎念"
    copyright = "[CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh_TW)"
  [languages.en]
    languageCode = "en"
    languageName = "English"
    # contentDir = "content/en"
    hasCJKLanguage = false
    weight = 2
    title = "ProgramMur - Programmer's Mumur"
    copyright = "[CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en)"
  [languages.ja]
    languageCode  = "ja"
    languageName = "日文"
    # contentDir = "content/ja"
    hasCJKLanguage = true
    weight = 3
    title = "ProgramMur - プログラマーのつぶやき"
    copyright = "[CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/deed.ja)"

# Others

[Params]
  # Explore Tech Journey
  homeTitle = " " # Set a different text for the header on the home page
  mainSections = ["post"]
  logo = "https://github.com/androchentw/blog-hugo/blob/master/res/blog-cover-yume-square.jpg?raw=true"
  favicon = "https://github.com/androchentw/blog-hugo/blob/master/res/blog-cover-yume-square.jpg?raw=true"
  dateFormat = "2006-01-02"
  rss = true
  comments = true
  readingTime = true
  wordCount = true
  # useHLJS = true
  socialShare = true
  delayDisqus = true
  toc = true
  showRelatedPosts = true
  share_img = "https://github.com/androchentw/blog-hugo/blob/master/res/blog-cover-yume.jpg?raw=true"
  # hideAuthor = true
  gcse = "212df771d70ae0521" # Get your code from google.com/cse. Make sure to go to "Look and Feel" and change Layout to "Full Width" and Theme to "Classic"

[[Params.bigimg]]
  src = "https://github.com/androchentw/blog-hugo/blob/master/res/blog-cover-yume.jpg?raw=true"
  desc = "京都高台寺 豐臣秀吉 御朱印帳 夢"

[Author]
  name = "androchentw"
  website = "https://blog.androchen.tw/"
  email = "programmur.tw@gmail.com"
  github = "androchentw"
  gitlab = "androchentw"
  bitbucket = "androchentw"
  facebook = "ProgramMur"
  instagram = "ProgramMur"
  twitter = "ProgramMurTw"
  linkedin = "androchen"

[[menu.main]]
  identifier = "tech"
  name = "Tech"
  pre = '<i class="fas fa-laptop-code fa-lg"></i>'
  url = "/tech/"
  weight = 1

[[menu.main]]
  identifier = "soft"
  name = "Soft"
  pre = '<i class="fas fa-lightbulb fa-lg"></i>'
  url = "/soft/"
  weight = 2

[[menu.main]]
  identifier = "life"
  name = "Life"
  pre = '<i class="fas fa-fire fa-lg"></i>'
  url = "/life/"
  weight = 3

[[menu.main]]
  name = "Series"
  pre = '<i class="fas fa-list fa-lg"></i>'
  url = "/series/"
  weight = 4

[[menu.main]]
  name = "Tags"
  pre = '<i class="fas fa-tags fa-lg"></i>'
  url = "/tags/"
  weight = 5

[[menu.main]]
  name = "Archives"
  pre = '<i class="fas fa-sitemap fa-lg"></i>'
  url = "/archives/"
  weight = 6

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    anchorLineNos = true
    codeFences = true
    guessSyntax = true
    hl_Lines = ""
    lineAnchors = ""
    lineNoStart = 1
    lineNos = true
    lineNumbersInTable = true
    noClasses = true
    style = "perldoc"
    tabWidth = 2
  [markup.tableOfContents]
    startLevel = 1

[sitemap]
  changefreq = "weekly"
  priority = 0.5
  filename = "sitemap.xml"

[outputFormats]
  [outputFormats.RSS]
    mediatype = "application/rss"
    baseName = "feed"

[taxonomies]
  tag = "tags"
  category = "categories"
  series = "series"
